*{ 
    padding: 0px;
    margin: 0px;
}
:root{
    --marinho-color: #0A122A;
    --azul-color: #B7FDFE;
    --verdeclaro-color: #5EF38C;
    --verdeforte-color: #2B9720;
    --marrom-color: #343A1A;
}
.painel{ background-color: var(--marrom-color);
color: aliceblue;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
align-items: baseline;
}


span{ 
    color: greenyellow;
    text-transform: uppercase;
    transition: 0.5s;
}

h1{ margin-right:120px;
    transition: 0.5s;
}
h1:hover{ background-color: rgba(105, 105, 105, 0.622);
    color:greenyellow ;
 }
 span:hover{ color: aliceblue;
}
 h2:hover{
    color: #ed1414;
 }
 .menu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--verdeclaro-color);
    padding: 20px;
    text-transform: uppercase;

 }
 a{
    text-decoration: none;
    color: #0A122A;
 }
 .main{
    background-image: url('/img/page-turner.png');
    background-size: cover;
    background-position: center center;
    margin-top: 30px;
    
}