@media screen and (min-width:0px) and (max-width:700px){
    nav{
        flex-direction: column;
    }
    .lua{
        height:900px;
    }
    .lua h1{
        width: 100%;
        text-align: center;
    } 
    .lua ul{
        width: 100%;
        position: static;
        margin-top: 630px;
        height: 120px;
    }
    .lua li{
        text-align: center;
        font-size: 28px;
    }
    .lua button{
        position: static;
        margin: auto;
        margin-top: 20px;
    }
    /* MERCURIO*/
    .mercurio{
        height:900px;
    }

    .mercurio h1{
        width: 100%;
        text-align: center;
    } 
    .mercurio ul{
        width: 100%;
        position: static;
        margin:auto;
        margin-top:630px;
        height: 120px;
    }
    .mercurio li{
        text-align: center;
        font-size: 28px;
    }
    .mercurio button{
        position: static;
        margin: auto;
        margin-top: 40px;
    }

    /*venus*/
    .venus{
        height:900px;
    }
    .venus h1{
        width: 100%;
        text-align: center;
    } 
    .venus ul{
        width: 100%;
        position: static;
        margin-top:630px;
        height: 120px;
    }
    .venus li{
        text-align: center;
        font-size: 28px;
    }
    .venus button{
        position: static;
        margin: auto;
        margin-top: 40px;
    }
    
    /* terra*/
    .terra{
        height: 900px;
    }

    .terra h1{
        width: 100%;
        text-align: center;
    } 
    .terra ul{
        width: 100%;
        position: static;
        margin-top:630px;
        height: 120px;
    }
    .terra li{
        text-align: center;
        font-size: 28px;
    }
    .terra button{
        position: static;
        margin: auto;
        margin-top: 40px;
    }
    /*marte*/
    .marte{
        height: 900px;
    }

    .marte h1{
        width: 100%;
        text-align: center;
    } 
    .marte ul{
        width: 100%;
        position: static;
        margin-top: 630px;
        height: 120px;
    }
    .marte li{
        text-align: center;
        font-size: 28px;
    }
    .marte button{
        position: static;
        margin: auto;
        margin-top: 40px;
    }

    /* jupiter*/
    .jupiter{
        height:900px;
    }

    .jupiter h1{
        width: 100%;
        text-align: center;
    } 
    .jupiter ul{
        width: 100%;
        position: static;
        margin-top:630px;
        height: 120px;
    }
    .jupiter li{
        text-align: center;
        font-size: 28px;
    }
    .jupiter button{
        position: static;
        margin: auto;
        margin-top: 40px;
    }


}