:root{
    --color1:#F2A199;
    --color2:#F2A172;
    --color3:#F26A4B;
    --color4:#A64B37;
    --color5:#0D0D0D;
    --color6:#5C3426;
}

.marte h1{
    font-size: 40px;
    text-transform: uppercase;
    color: aliceblue;
    background-color:#f26a4bd1;
    text-shadow: 2px 2px 20px wheat;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 50%;
    letter-spacing: 2px;
    transition: all 0.8s ease;
    position: sticky;
    top: 0;
}
i{
    margin: 40px;
}
.marte h1:hover{
    letter-spacing: 18px;
    background-color: #8c8c8c00;
    text-shadow: 1px 1px 20px var(--color5);
}
.marte{
    box-sizing: border-box;
    background-image: url(marte/Marte-NASA.png);
    background-size: 100%;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.marte p, li{
    padding: 50px;
}
.marte span{
    margin-top: 5px;
    margin-left: 40px;
}