:root{
    --color29:#F2CC0F;
    --color30:#D9A50B;
    --color31:#A65D05;
    --color32:#592c04d5;
    --color33:#0D0D0D;
    --color34:#2D2018;
}

.mercurio h1{
    font-size: 40px;
    text-transform: uppercase;
    color: aliceblue;
    background-color:#2d2018d5;
    text-shadow: 1px 1px 15px wheat;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 50%;
    letter-spacing: 2px;
    transition: all 0.8s ease;
    position: sticky;
    top: 0;
    z-index: 2;
}
i{
    margin: 40px;
}
.mercurio h1:hover{
    letter-spacing: 18px;
    background-color: #8c8c8c00;
    text-shadow: 1px 1px 20px var(--color5);
}
.mercurio{
    background-image: url(/mercurio/imagem/Mercurio-mercury-5537392_1920.jpg);
    background-size: cover;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-attachment:fixed;
    background-repeat: no-repeat;
}
.mercurio p, li{
    padding: 50px;
}
.mercurio span{
    margin-top: 5px;
    margin-left: 40px;
}
.mercurio h2{
    font-size: 2.8em;
    text-align:left;
    color: var(--color5);
    margin-left: 5%;
    text-align: center;
}
.mercurio ul{
    display: flex;
    flex-direction: column;
    height: 25%;
    background-color:#a65e0561;
    overflow:auto;
    width: 40%;
    position: relative;
    left: 58%;
    top: 30%;
}
.mercurio li{
    font-size: 1.3em;
    line-height: 2em;
    list-style: none;
    padding: 0;
    margin-left: 5px;
}
.mercurio button{
    padding: 5px 10px;
    background-color:#a65e053d ;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 40%;
    margin-right: 5%;
    left: 58%;
    top: 36%;
    transition: all 0.8s ease;
    z-index: 1;
    display: flex;
}
.mercurio a{
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    transition: all 0.8s ease;
    width: 100%;
}
.mercurio button:hover{
    padding: 6.5px;
    background-color:var(--color31);
}
.mercurio a:hover{
    text-shadow: 2px 2px 20px wheat;
}