
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* falta 02 b.o{
    1.. o menu sai da imagem em tamanhos menores
    2.. o menu em tela maiores aparece no fim da
        janela
    */
:root{
    --color1: #040FD9;
    --color2: #033E8C;
    --color3: #023059;
    --color4: #012840;
    --color5: #0D0D0D;
}
header{
    padding: 10%;
    background-image: url(/docs/phil-botha-a0TJ3hy-UD8-unsplash.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
header h1{
    color: aliceblue;
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
    text-align:center;
    text-shadow: 2px 2px 20px wheat;
    filter: opacity(90%);
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 50px;
    transition: all 1.5s ease;
}
 header :hover{
    letter-spacing: 20px;
    line-height: 55px;
    text-shadow: 1px 1px 20px var(--color5);
    filter: opacity(100%);
}
header span{
    font-size: 60px;
    color:#4A89CC;
    filter: opacity(90%);
}
nav{
    display: flex;
    justify-content: space-around;
    background-color:#010101;
    overflow-x: hidden;
}
nav a {
    text-align: center;
    text-decoration: none;
    font-size: 75%;
    font-family: 'Rubik Mono One', sans-serif;
    padding: 20px;
    color:#4A89CC;
    width: 100%;
    transition: all 0.8s ease;
}
nav a:hover{
    background-color:#0D0D0D;
    text-shadow: 1px 1px 1px wheat;
    padding-top: 30px;
    border-radius: 10px;
}
strong{
    display: block;
}
