:root{
    --color35:#F2A199;
    --color36:#F2A172;
    --color37:#F26A4B;
    --color38:#A64B37;
    --color39:#0D0D0D;
    --color40:#5C3426;
}

.marte h1{
    font-size: 40px;
    text-transform: uppercase;
    color: aliceblue;
    background-color:#f26a4bd1;
    text-shadow: 2px 2px 20px wheat;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 50%;
    letter-spacing: 2px;
    transition: all 0.8s ease;
    position: sticky;
    top: 0;
    z-index: 2;
}
i{
    margin: 40px;
}
.marte h1:hover{
    letter-spacing: 18px;
    background-color: #8c8c8c00;
    text-shadow: 1px 1px 20px var(--color39);
}
.marte{
    box-sizing: border-box;
    background-image: url(/marte/imagem/Marte-NASA.png);
    background-size:cover;
    width: 100%;
    height: 1000px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.marte p, li{
    padding: 50px;
}
.marte span{
    margin-top: 5px;
    margin-left: 40px;
}
.marte h2{
    font-size: 3em;
    text-align:left;
    color:var(--color5);
    margin-left: 5%;
    text-align: center;
}
.marte ul{
    display: flex;
    flex-direction: column;
    height: 25%;
    background-color:var(--color36);
    overflow:auto;
    width: 40%;
    position: relative;
    left: 58%;
    top: 30%;
}
.marte li{
    font-size: 1.3em;
    line-height: 2em;
    list-style: none;
    padding: 0;
    margin-left: 5px;
}
.marte button{
    padding: 5px 10px;
    background-color:#a64b373b ;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 40%;
    margin-right: 5%;
    left: 58%;
    top: 36%;
    transition: all 0.8s ease;
    z-index: 1;
    display: flex;
}
.marte a{
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    transition: all 0.8s ease;
    width: 100%;
}
.marte button:hover{
    padding:6px;
    background-color: var(--color38);
}
.marte a:hover{
    text-shadow: 2px 2px 20px wheat;
}