*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li{
    list-style: none;
    border-radius: 10px;
    transition: all 0.8s ease-out;
}
a{
    text-decoration: none;
}
body{
    background-color:rgb(246, 243, 243);
}
:root{
    --color1:#edede9;
    --color2:#d6ccc2;
    --color3:#f5ebe0;
    --color4:#e3d5ca;
    --color5:#d5bdaf;
}
/*grid geral*/
.estrutura{
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas:
     "cabeca cabeca cabeca"
     "naveg principal anuncios"
     "footer footer footer"
    ;
}
@media  (max-width: 1100px) {
    .estrutura{
        grid-template-areas: 
        "cabeca cabeca cabeca"
        "naveg principal principal"
        " naveg anuncios anuncios"
        " footer footer footer"
        ;
    }
}
@media (max-width: 799px) {
    .estrutura{
        grid-template-columns: 100%;
        grid-template-areas: 
        "cabeca"
        "naveg"
        "principal"
        "anuncios"
        "footer";
         
    }
}
.cabeca{
    grid-area: cabeca;
    grid-template-columns: 1fr auto;
    padding: 20px;
    background: linear-gradient( 140deg, #d5bdaf,#edede9 );
    align-items: center;
    display: grid;
}
@media (max-width: 799px) {
    .cabeca{
        grid-template-columns: auto;
    }
    .cabeca nav ul{
        margin-top:10px;
        justify-content: space-around;
        height:3em;
    }
    .cabeca h1{
        text-align: center;
    }
    .titulo{
        text-align: center;
    }

}
.cabeca nav ul {
    display: flex;
    flex-wrap: wrap;
}
@keyframes seta{
    from{
        right: 30px;
    }
    to{
        right: 20px;
    }
}
@media (max-width: 799px) {
    nav{
        overflow-x: auto;
        /*-webkit-overflow-scrolling:touch
        -ms-overflow-style:-ms-autohiding-scrollbar;*/
        position: relative;
    }
    .naveg::after{
        content: '➠';
        position: absolute;
        top: 5px;
        /*so esse posicao a seta fica em relacao ao body, tem que botar position relative no naveg para ficar em relacao ao naveg*/
        right: 30px;
        color: rgba(0,0,0,.3);
        animation: seta 0.5s  ease-in infinite alternate;
    }
    .naveg ul{
        display: flex;
    }
    .naveg li{
        flex: 1 0 60;
    }
    .naveg li {
        margin:30px 30px 30px 0;
    }
    .atributos{
        padding: auto;
    }
    .atributos li{
        font-size: 1em;
    }
}
.cabeca nav a{
    font-size: 1em;
    background-color:#e3d5ca48;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgba(51, 51, 51, 0.156);
    color:#fca311;
    transition: all 0.5s ease-in-out;
    letter-spacing: 0.12em;
    font-style: italic;
    display: block;
}
.cabeca li + li {
    margin-left: 20px;
}
.cabeca a:hover{
    background-color:#d5bdaf96;
    padding: 11px;
    text-decoration: underline;
}
.cabeca h1{
    font-size: 1.7em;
    font-family: 'Zeyada', cursive;
}
.naveg{
    grid-area: naveg;
    padding: 30px;
}
.naveg li img{
    display: block;
    margin:0 auto 60px auto;
    background-color:#f2eeee55;
    box-shadow:6px 6px 17px 0px rgba(44, 44, 44, 0.15);
    padding: 15px;
    min-width: 60px;
    max-width: 100px;
    border-radius: 10px;
    transition: all 0.5s ease-in;  
}
.naveg li:nth-child(1):hover{
    background-color: #92B4F4;
}
.naveg li:nth-child(2):hover{
    background-color: #fca211ea;
}


.principal{
    grid-area: principal;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas:  
      "titulo caixa"
      "img1 img1"
      "img2 p"
      "atributos atributos"
      "informacao informacao"
    ;
}
@media (max-width: 799px) {
.principal{
    grid-template-columns:100%;

    grid-template-areas:
    "titulo"
    "caixa"
    "img1"
    "p"
    "img2"
    "atributos"
    "informacao"
    ;
}
.caixa{
    justify-content: center;
}
}
.img1{
    grid-area: img1;
    width: 100%;
}
.img2{
    grid-area: img2;
    height: 500px;
}
.atributos{
    grid-area: atributos;
}
.informacao{
    grid-area:informacao ;
}
.ponta-a-ponta{
    grid-column: 1 / -1;
}
.pegar-linhas{
    grid-row: span 2;
    align-self: end;
}
p{
    font-size: 1.3em;
    line-height: 1.6em;
    color: rgba(0, 0, 0, .6);
}
.titulo {
    grid-area: titulo;
    font-size: 3em;
    font-family: 'Quantico', sans-serif;
    padding: 20px;
}
.caixa{
    display: flex;
    grid-area: caixa;
    align-items: flex-start;
}
.caixa > div{
    background-color: #4472CA;
    border-radius: 10px;
    width: 80px;
    text-align: center;
    box-shadow: 6px 6px 17px 0px rgba(44, 44, 44, 0.15);
}
.caixa > div:first-child{
    margin-right: 30px;
}
.caixa span{
    display: block;
}
.geral{
    font-size: 1.9em;
    margin: 10px auto;
    color: #CFDEE7;
}
.especifico{
    background-color: #d5bdaf;
    border-radius: 0 0 10px 10px;
    padding-top: 5px;

    
}
.anuncios{
    grid-area: anuncios;
    background-color: #e3d5ca48;
    display: grid;
    align-content: start;
    padding: 30px;
    border-radius: 10px;
    grid-gap: 30px;
}
.anuncios img{
    width: 100%;
}
.atributos{
    padding: 30px;
    border-radius: 10px;
    box-shadow:6px 6px 17px 0px rgba(44, 44, 44, 0.15);
    background: linear-gradient(135deg, #0A369D,#5E7CE2);
    align-self: flex-start
}
.atributos li{
    font-size: 2em;
    font-style: italic;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 90px;
}
.atributos li + li {
    border-top: 2px solid #af7dfbc9;
}

.footer{
    grid-area: footer;
    color: #ffffff;
    background-color: var(--color5);
    padding: 30px;
    text-align: center;
}


/*#fca311*/
:root{
    --color6:#0A369D;
    --color7:#4472CA;
    --color8:#5E7CE2;
    --color9:#92B4F4;
    --color10:#CFDEE7;
}




